.animatedContainer {
    position: relative;

    .loadingOverlay {
        position: absolute;
        text-align: center;
        background: rgba(255, 255, 255, 0.8);

        .loadingMsgContainer {
            padding-top: -1.2em;
            position: relative;
            top: 50%;

            .loadingSpinner {
                vertical-align: middle;
            }

            .loadingMsg {
                font-weight: bold;
                font-size: 1.2em;
                padding-left: 1rem;
            }
        }
    }
}
