@import "../scss/variables";

.headingButtons {
  float: right;

  & > * {
    margin-right: 15px;
  }

  & > *:last-child {
    margin-right: 0px;
  }
}

a.active {
  color: $success;
}

.brush .selection {
  stroke: #434343;
}

.touch-action-none {
  touch-action: none;
}

.touch-action-pan-y {
  touch-action: pan-y;
}