.zaloz-firmy{
    background-color: #17d139;
}
.prodej-firmy{
    background-color: #440103;
}
.nova-tech{
    background-color: lightseagreen;
}
.dobra-udalost{
    background-color: green;
}
.spatna-udalost{
    background-color: red;
}
.konkurz{
    background-color: #0d7c9b;
}