.modLabel {
  font-size: 0.8em;
  fill: lightblue;
  text-anchor: start;
}

.modLine {
  stroke: lightblue;
  stroke-width: 1;
  stroke-opacity: 0.5;
}

.rulerLine {
  stroke: #808080;
  stroke-width: 1;
  stroke-dasharray: 2 2;
}
